/*城市列表*/
.showChooseCity{border:1px solid #ddd;display:none;width:410px;font-size:12px;line-height:29px;position:absolute;left:0;top:28px;background:#fff;z-index:9999}
.showChooseCity .tips{padding:0 15px;background:#F5F9FB;position:relative;}
.showChooseCity .tips i{cursor:pointer;display:inline-block;width:12px;height:12px;position:absolute;top:50%;margin-top:-6px;right:10px;background:url(../../images/icon/closed.png) no-repeat center center;}
.recom-city{z-index:3;width:450px;background:#fff;padding:0 10px;}
.recom-city .page{font-size:12px;text-align:right;width:100%;float:left;padding-right:15px;box-sizing:border-box;}
.recom-city .page a{margin:0 5px;color:#666;}
.recom-city .page a:hover{color:#fb7262;}
.rcc-ban{border-bottom:1px solid #ddd;height:25px;width:390px}
.rcc-ban .rcc-at{border:0;border-bottom:2px solid #fb7262;color:#fb7262;font-weight:700}
.rcc-ban li{float:left;padding:0 11px;height:24px;line-height:24px;cursor:pointer}
.rcc-ban li:first-child{padding:0 11px 0 5px;}
.rcc-ban .rcc-at span{color:#fb7262}
.rcc-con{padding:10px 0 10px 5px;width:390px;overflow:hidden}
.rcc-con div span span,.rcc-con>span{color:#666;float:left;margin-right:38px;margin-bottom:5px;white-space:nowrap;transition:all ease .2s;line-height:20px;cursor:pointer}
.rcc-con div>span:first-child{width:12px;font-size:14px;margin-right:15px;line-height:20px}
.rcc-con div>span{display:block;color:#f60;float:left;width:350px}
.rcc-con span.cur{color:#fb7262}