.flightItem .ticketCol .airTit .airlines{position:absolute;left:0;top:2px}
.airlines{display:inline-block;height:16px;width:16px;background:url(../../images/logo_20170127.png) no-repeat}
.pubFlights_3u{background-position:0 0}
.pubFlights_8c{background-position:0 -32px}
.pubFlights_8l{background-position:0 -64px}
.pubFlights_bk{background-position:0 -96px}
.pubFlights_ca{background-position:0 -128px}
.pubFlights_cn{background-position:0 -160px}
.pubFlights_cz{background-position:0 -192px}
.pubFlights_eu{background-position:0 -224px}
.pubFlights_fm{background-position:0 -256px}
.pubFlights_g5{background-position:0 -288px}
.pubFlights_gs{background-position:0 -320px}
.pubFlights_ho{background-position:0 -352px}
.pubFlights_hu{background-position:0 -384px}
.pubFlights_kn{background-position:0 -416px}
.pubFlights_mf{background-position:0 -448px}
.pubFlights_mu{background-position:0 -480px}
.pubFlights_ns{background-position:0 -512px}
.pubFlights_pn{background-position:0 -544px}
.pubFlights_sc{background-position:0 -576px}
.pubFlights_zh{background-position:0 -608px}
.pubFlights_vd{background-position:0 -640px}
.pubFlights_jr{background-position:0 -672px}
.pubFlights_ky{background-position:0 -704px}
.pubFlights_tv{background-position:0 -736px}
.pubFlights_9c{background-position:0 -768px}
.pubFlights_jd{background-position:0 -800px}
.pubFlights_g8{background-position:0 -832px}
.pubFlights_gj{background-position:0 -864px}
.pubFlights_dz{background-position:0 -896px}
.pubFlights_yi{background-position:0 -928px}
.pubFlights_qw{background-position:0 -960px}
.pubFlights_dr{background-position:0 -992px}
.pubFlights_uq{background-position:0 -1024px}
.pubFlights_fu{background-position:0 -1056px}
.pubFlights_aq{background-position:0 -1088px}
.pubFlights_gx{background-position:0 -1120px}
.pubFlights_oq{background-position:0 -1152px}
.pubFlights_a6{background-position:0 -1184px}
.pubFlights_gy{background-position:0 -1216px}
.pubFlights_y8{background-position:0 -1248px}
.pubFlights_ry{background-position:0 -1280px}
.pubFlights_9h{background-position:0 -1312px}
.pubFlights_n1{background-position:0 -1344px}
.pubFlights_da{background-position:0 -1376px}
.pubFlights_gt{background-position:0 -1408px}
.pubFlights_lt{background-position:0 -1440px}
